<div ng-include="'partials/navbar'"></div>


  <div id="recpasspage">
        <div class="col-xs-12">
                <div class="clearfix"></div>
                <form id="login" role="form" name ="login" class="min">
                  <div class="form-group">
                      <label id="labmail" for="nombre">Email</label>
                      <input type="email" placeholder="Em@il" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Em@il'" ng-model="userData.email" id="nombre" name="nombre" class="form-control"/>
                  </div>
                  <div class="clearfix"></div>

         
                     <button type="submit" class="btn btn-info" value="Log in" ng-click="obtenerUsuario()" ng-disabled="login.$pristine || login.$invalid">Recuperar Password</button>
                  </div>
                    
                 
                </form>
             
        </div>
  </div>