<aside class="visible-desktop col-xs-12 col-sm-12 col-md-3 row">
    <!-- search -->
    <div id="profile">
        <img id="profile-img" src="{{usuario.profile_img}}" width="60" height="60">
        
        <h4 id="profile-name" class="text-info"><small>{{usuario.nombre}}</small></h4></br>
        <a href="/cuenta" id="profile-edit" class="text-info "><small>Editar Perfil</small></a>
    </div>

    <!-- menu -->
    <ul class="sideMenu">
        <li ng-show="usuario.Tipo_usuarios_idTipo_usuarios==1" >
            <a href="">Amigos</a>
                <ul id="listaAmigos">
                    <a href="/amigos" class="buscara">Buscar Amigos</a>
                    <li ng-repeat="amigoSide in amigosSide" ng-show="amigoSide.Tipo_usuarios_idTipo_usuarios==1">
                        <img src="../images/amigo.png" width="20" style="display:inline-block;"/> 
                        <a ng-href="/perfil/{{amigoSide.idUsuario}}">{{amigoSide.nombre}}</a>
                    </li>
                </ul>
        </li>
        <li>
            <a href="">Artistas</a>
                <ul id="listaArtistas">
                    <a href="/artistas" class="buscara">Buscar Artistas</a>
                    <li ng-repeat="artista in artistasSide" ng-show="artista.Tipo_usuarios_idTipo_usuarios==2" >
                        <img src="../images/artist.png" width="20" style="display:inline-block;"/> 
                        <a ng-href="/perfil/{{artista.idUsuario}}">{{artista.nombre}}</a>
                    </li>
                </ul>
        </li>
        <li >
            <a href="">Salas</a>
            <ul id="listaArtistas">
                <a href="/salas" class="buscara">Buscar Salas</a>
                    <li ng-repeat="sala in salasSide" ng-show="sala.Tipo_usuarios_idTipo_usuarios==3" >
                        <img src="../images/salas.png" width="20" style="display:inline-block;"/> 
                        <a ng-href="/perfil/{{sala.idUsuario}}">{{sala.nombre}}</a>
                    </li>
                </ul>
        </li>
         <li class="last">
            <a href="">Eventos</a>
        </li>
        
    </ul>

</aside>

<script>
    
    $(function() {

    if ($('.sideMenu > li').hasClass('parent')) {

        parentHeight = $('.sideMenu > li.parent').height();
        $('.sideMenu > li.parent').css('height', parentHeight);

    }

    $('.sideMenu > li:has(ul)').click(function() {

        var $this = $(this);

        if (!$this.hasClass('open') & !$this.hasClass('parent')) {
            totalHeight = $this.find('ul').outerHeight() + $this.height();
            $this.css('height', totalHeight);
            $this.addClass('open');
        } else if ($this.hasClass('parent')) {
            $this.removeClass('parent');
            $this.removeAttr('style');
        } else {
            $this.removeClass('open');
            $this.removeAttr('style');
        }

    });

    $('.sideMenu > li:last').addClass('last');

});
</script>