<aside class="visible-desktop col-xs-3 row">
    <!-- search -->
    <form class="form-search">
        <div class="input-prepend">
            <button type="submit" class="btn"></button>
            <input type="text" class="search-query">
        </div>
    </form>

    <!-- menu -->
    <ul class="sideMenu">
        <li class="" ng-show="usuario.Tipo_usuarios_idTipo_usuarios==1" >
            <a href="">Amigos</a>
                <ul id="listaAmigos">
                    <li ng-repeat="amigoSide in amigosSide" ng-show="amigoSide.Tipo_usuarios_idTipo_usuarios==1">{{amigoSide.nombre}}</li>
                </ul>
        </li>
        <li>
            <a href="">Artistas</a>
                <ul id="listaArtistas">
                    <li ng-repeat="artista in artistasSide" ng-show="artista.Tipo_usuarios_idTipo_usuarios==2" >{{artista.nombre}}</li>
                </ul>
        </li>
        <li >
            <a href="">Salas</a>
            <ul id="listaArtistas">
                    <li ng-repeat="sala in salasSide" ng-show="sala.Tipo_usuarios_idTipo_usuarios==3" >{{sala.nombre}}</li>
                </ul>
        </li>
         <li class="last">
            <a href="">Eventos</a>
        </li>
        
    </ul>

</aside>

<script>
    
    $(function() {

    if ($('.sideMenu > li').hasClass('parent')) {

        parentHeight = $('.sideMenu > li.parent').height();
        $('.sideMenu > li.parent').css('height', parentHeight);

    }

    $('.sideMenu > li:has(ul)').click(function() {

        var $this = $(this);

        if (!$this.hasClass('open') & !$this.hasClass('parent')) {
            totalHeight = $this.find('ul').outerHeight() + $this.height();
            $this.css('height', totalHeight);
            $this.addClass('open');
        } else if ($this.hasClass('parent')) {
            $this.removeClass('parent');
            $this.removeAttr('style');
        } else {
            $this.removeClass('open');
            $this.removeAttr('style');
        }

    });

    $('.sideMenu > li:last').addClass('last');

});
</script>