<aside class="visible-desktop col-xs-3 row" ng-controller="asideCtrl">
    <!-- search -->
    <form class="form-search">
        <div class="input-prepend">
            <button type="submit" class="btn"></button>
            <input type="text" class="search-query">
        </div>
    </form>

    <!-- menu -->
    <ul class="sideMenu">
        <li class="" ng-show="usuario.Tipo_usuarios_idTipo_usuarios==1" >
            <a href="">Amigos</a>
                <ul id="listaAmigos">
                    <li ng-repeat="amigoSide in amigosSide">{{amigoSide.nombre}}</li>
                </ul>
        </li>
        <li>
            <ul id="listaArtistas">
                    <li ng-repeat="artistaSide in artistasSide" ng-show="artistaSide.Tipo_usuario_idTipo_usuario==2">{{artistaSide.nombre}}</li>
                </ul>
        </li>
        <li class>
            <a href="#">Artistas</a>
        </li>
        <li class="last">
            <a href="#">Salas</a>
        </li>
        
    </ul>

</aside>

<script>
    
    $(function() {

    if ($('.sideMenu > li').hasClass('parent')) {

        parentHeight = $('.sideMenu > li.parent').height();
        $('.sideMenu > li.parent').css('height', parentHeight);

    }

    $('.sideMenu > li:has(ul)').click(function() {

        var $this = $(this);

        if (!$this.hasClass('open') & !$this.hasClass('parent')) {
            totalHeight = $this.find('ul').outerHeight() + $this.height();
            $this.css('height', totalHeight);
            $this.addClass('open');
        } else if ($this.hasClass('parent')) {
            $this.removeClass('parent');
            $this.removeAttr('style');
        } else {
            $this.removeClass('open');
            $this.removeAttr('style');
        }

    });

    $('.sideMenu > li:last').addClass('last');

});
</script>