<div ng-include="'partials/navbarMain'"></div>
<div class="container">

    <div>
    	<div>
    		 <h1 class="titulo text-info">Solicitudes de amistad</h1>
    	</div>
 	
		 <table class="table table-striped table-hover">
         
          <tbody>
          <tr ng-repeat="solicitud in solicitudesD">
          <div ng-if='solicitudesD==""'><br/>
			<p class="h3 text-info" style="font-weight:100">Actualmente no tiene ninguna solicitud de amistad</p>
			</div>
       
      <td style="text-align: center;"><img ng-src="{{solicitud.profile_img}}" class="img-responsive" heigth="40" width="40"/></td>    
      <td style="text-align: center;"><a ng-href="/perfil/{{solicitud.idUsuario}}">{{solicitud.nombre}}</a></td>
			<td style="text-align: center;">
			<a class="btn btn-info" data={{solicitud.idUsuario}} ng-click='anadirAAmigos($event)' >Aceptar</a>
			</td>
			<td style="text-align: center;">
				<a class="btn btn-danger" data={{solicitud.idUsuario}} ng-click='noAnadir($event)'>Cancelar</a>
			</td>
          </tbody>
        </table>

    </div>
 </div>

    </div>
  </div>
</div>
</html>