<div ng-include="'partials/navbarAdmin'"></div>

<div class="container">
    <div ng-init="obtenerListado()">
    	<div>
    		
    	</div>
		<table class='table table-bordered table-hover table-condensed'>
			<thead>
				<tr>
					<th class="id">Id&nbsp;<a ng-click="sort_by('id')"><i class="icon-sort"></i></a></th>
					<th class="nombre">Nombre&nbsp;<a ng-click="sort_by('nombre')"><i class="icon-sort"></i></a></th>
					<th class="email">email&nbsp;<a ng-click="sort_by('email')"><i class="icon-sort"></i></a></th>
					<th class="fecha">fecha de alta&nbsp;<a ng-click="sort_by('fecha')"><i class="icon-sort"></i></a></th>
					<th class="tipo">tipo de Usuario&nbsp;<a ng-click="sort_by('tipo')"><i class="icon-sort"></i></a></th>
					<th class="estado">Estado&nbsp;<a ng-click="sort_by('estado')"><i class="icon-sort"></i></a></th>
					<th class="estado">Editar&nbsp;<i class="icon-sort"></i></th>
					<th class="estado">Eliminar&nbsp;<i class="icon-sort"></i></th>
				</tr>
			</thead>
			<tfoot>

			</tfoot>
			<tbody>
				<tr ng-repeat="item in listGral">
					<td>{{item.idUsuario}}</td>
					<td>{{item.nombre}}</td>
					<td>{{item.email}}</td>
					<td>{{item.fecha_alta}}</td>
					
					<td ng-if="item.Tipo_usuarios_idTipo_usuarios == 1">
    					 <a class="glyphicon glyphicon-user"></a> Básico
					</td>
					<td ng-if="item.Tipo_usuarios_idTipo_usuarios == 2">
    					 <a class="glyphicon glyphicon-music"></a> Artista
					</td>
					<td ng-if="item.Tipo_usuarios_idTipo_usuarios == 3">
    					 <a class="glyphicon glyphicon-home"></a> Sala
					</td>
					
					<td>
						<div class='btn-group btn-toggle'>
							<div ng-if="item.bloqueado == 0">
								<button value={{item.idUsuario}} class='btn btn-sm btn-primary active'>ACTIVO</button>
								<button data={{item.idUsuario}} name={{item.nombre}} ng-click='bloquear($event)' class='btn btn-sm btn-default'>BLOQUEADO</button>
							</div>
							<div ng-if="item.bloqueado == 1">
								<button data={{item.idUsuario}} name={{item.nombre}} ng-click='desbloquear($event)' class='btn btn-sm btn-default'>ACTIVO</button>
								<button class='btn btn-sm btn-primary active'>BLOQUEADO</button>
							</div>
						</div>
					</td>

					<td class="text-center"><a href ng-click='editarUsuario($event)' ><img src='../../../images/edit.png', alt='Editar' data={{item.idUsuario}} name={{item.nombre}} /></td>
					<td class="text-center"><a href ng-click='borrarUsuario($event)' ><img src='../../../images/delete.png', alt='Eliminar' data={{item.idUsuario}} name={{item.nombre}} /></a></td>
				</tr>
			</tbody>
		</table>
    </div>
 </div>