
body{ background-color: #f5f5f5;

}

.includehead{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
}
.header {
  background: #003366;

}

aside{
  background: #f5f5f5;
  margin-top: 50px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 48px;
  color:#FFF;
}

.nav > li > a{
 padding: 15px 22px 15px 15px;
  color:#FFF;
}


#navi.nav-tabs{
border-bottom: 0px solid #ddd !important;
}

#navi.nav-tabs > li {
float: left;
margin-bottom: 0px;
}

#navi.nav-tabs > li.active {
    background-color: #0066CC;
    color:#FFF;
}

#navi.nav-tabs > li > a {
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 0;
margin-right: 0;
}

#navi.nav-tabs > li.active > a{
    color: #FFF;
}

#navi.nav-tabs > li > a:hover {
border-color:transparent;
}

#navi .nav > li > a:hover, #navi .nav > li > a:focus {

background-color: transparent;
}


#navi .nav-tabs > li > a:hover {
border-color: transparent;
}
#navi .nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: transparent;
}
#navi .nav > li > a {
padding: 15px;
color: #FFF;
}

.nav-tabs > li > a:hover {
border-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: #0066CC;
}
.nav > li > a


#navi .nav-tabs > li.active > a, #navi .nav-tabs > li.active > a:hover, #navi .nav-tabs > li.active > a:focus{
background-color: transparent !important;
border:0;
color:white;
border-radius:0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
 background-color: transparent !important;   
}

#navi .nav-tabs > li > a {
margin-right: 0px;
line-height: 1.42857143;
border: 0;
border-radius: 0;

}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

 .post {
    -webkit-transition:all ease .7s;
    -moz-transition:all ease .7s;
    -o-transition:all ease .7s;
    transition:all ease .7s;
}

.glyphicon{
  float: right;
}

form.min {
    width: 70%;
    margin: 0 auto;
}

#loginpage, #registropage, #recpasspage{
  margin-top:30px;
}

/* =================================
                main
==================================== */
#mainpage{
background-color: #f5f5f5;
}

#central{
    background-color: #FFF;
    padding-bottom: 40px;
}

#daside{
 background-color: #FFF;
position: fixed;
right: 30px;
height: 100%;
width: 16.66666667%;
}

.titulo{ font-weight: 100; 
          margin-top: 70px;}

h3#welcome{
    font-weight: 300;
    margin-top: 70px;
}
h4#welcome{
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0 20px;
}

#welcome span{
    font-weight: 400;
    text-transform: capitalize;
}
.mainmid{

    margin-top:35px;
    background-color: #FFF;
}

#listapost{
    
}

.post{
    border-top: 1px solid #ddd;
    padding: 15px;
}
.posthead strong{
    font-size: 1.14em;
}
.posthead small{
    float:right;
}

.post p{
    padding: 15px;
}
/* =================================
                comment
==================================== */
#cf1{
    padding-bottom: 22px;
    
}

#labcomment .nav-tabs > li > a{
    line-height: .5;
}
#comment{
    border-radius: 0 4px 4px 4px;;
    height: 120px;
    border: 1px solid #dddddd;
    border-top: none;
    padding-top: 10px;
    box-shadow: none;
    resize: none; 
    margin-bottom: 10px;

}

#cf1 select {
   width: 50%;
    display: inline;
}

#cf1  input#postimg{
     width: 30%;
     display: inline;
}

#cf1 .btn {
   float: right;

}

.widget{
    width: 99.7%;
}

/* =================================
                Menu
==================================== */
.sideMenu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    background-color:#f5f5f5;
    
}

.sideMenu a {
    color: #000000;
}

.sideMenu a:hover, .sideMenu a:focus {
    text-decoration: none;
}

.sideMenu ul a:hover {
    color: #000000;
}

/* First level */
.sideMenu > li {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-indent: 25px;
    position: relative;
    z-index: 2;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    -webkit-backface-visibility: hidden; /* Chrome transition flicker & double border fix */
    -webkit-transition: height .2s ease;
        -moz-transition: height .2s ease;
            transition: height .2s ease;
}

.sideMenu > li:first-child,
.sideMenu > li.first {
    border-top: none;
}

.sideMenu > li:last-child {
    border-bottom: none;
}

.sideMenu > li.last {
    border-bottom: none;
}

.sideMenu > li:hover {
    background-color: #f9f9f9;
}

.sideMenu > li.open {
    background-color: #f9f9f9;
    position: relative;
    -webkit-backface-visibility: hidden; /* Chrome transition flicker & double border fix */
    -webkit-transition: height .4s ease;
        -moz-transition: height .4s ease;
            transition: height .4s ease;
}

.sideMenu > li.active {
    background-color: #f0f0f0;
    border-top: 1px solid #dddddd;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
}

.sideMenu > li.active::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #dddddd;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 18px;
    right: 0;
}

.sideMenu > li.active::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #ffffff;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 17px;
    right: 0;
}

.sideMenu > li.active:first-child {
    border-top: none;
}

.sideMenu > li.parent {
    height: 100%;
    background-color: #f9f9f9;
}

.sideMenu > li > a {
    display: block;
    height: 50px;
    font-weight: bolder;
    color: #003366;
}

/* Second level */
.sideMenu > li > ul {
    margin: 0;
    padding-bottom: 10px;
    z-index: 1;
    list-style: none;
    background-color: #eeeeee;
    border-top: 1px solid #ffffff;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
}

.sideMenu > li.active > ul {
    font-weight: normal;
}

.sideMenu > li > ul > li:first-child {
    padding-top: 5px;
    border-top: 1px solid #dddddd;
}

.sideMenu > li > ul > li{
    line-height: 2.2em;
}

.sideMenu > li > ul > li > a {
    display: block;
    padding:0;
    font-size: 12px;
    line-height: 1.5em;
}

.sideMenu > li > ul > li > a:hover {
    color: #555555;
}

.sideMenu > li > ul > li.active > a {
    font-weight: bold;
    color: #444444;
}

.sideMenu > li > ul > li.active::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #dddddd;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 18px;
    right: 0;
}

.sideMenu > li > ul > li.active::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #ffffff;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 17px;
    right: 0;
}

.sideMenu > li.active:first-child {
    border-top: none;
}

/* Count */
.sideMenu > li > span {
    display: block;
    width: 18px;
    height: 18px;
    text-indent: 0;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    position: absolute;
    z-index: -1;
    top: 17px;
    right: 20px;
    color: #ffffff;
    background-color: #bbbbbb;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
            border-radius: 2px;
}

/* top menu */
.topMenu {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    position: relative;
    z-index: 999;
    background-color: #333333;
}

.topMenu ul {
    list-style: none;
    padding-top: 0;
}

.topMenu a {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #cccccc;
}

.topMenu a:hover {
    text-decoration: none;
    color: #ffffff;
}

.topMenu li.active {
    background-color: #000000;
}

.topMenu li.active a {
    color: #ffffff;
}

/* search */
aside .form-search {
    margin: 20px 0;
}

aside .form-search .input-prepend .search-query {
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
}

aside .form-search .input-prepend .btn {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    margin-left: 10%;
    background: url('../images/icon-search.png') no-repeat 10px 9px;
    border: none;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
}

aside .form-search input[type="text"] {
    width: 80%;
    margin-left: 10%;
    padding-left: 30px;
    background-color: #f5f5f5;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
}

aside .form-search input[type="text"]:focus {
    background-color: #ffffff;
}

.buscara{
    text-decoration: underline;
    color: #5bc0de !important;
    font-weight: 500;
}

#profile{
  padding: 25px;
}

#profile-img{
    display: inline-block;

}

#profile-name{
    display: inline-block;
}


/* =================================
                Amigos, Artistas, Salas
==================================== */

#amigosListaAmigos{
    
}

#amigosListaAmigos ul{
    width:100%;
    padding-bottom: 40px;
}

#amigosListaAmigos ul li{
  width: 24.8%;
  margin: .1%;
  height: 170px;
  display: inline;
  float: left;
  background-color: #428bca;

}

#amigosListaAmigos ul li:hover{
    opacity: .9;
}
#amigosListaAmigos ul li:nth-child(2n){
  background-color: #0080FF;
}
#amigosListaAmigos ul li:nth-child(3n+1){
  background-color: #001B36;
}

#amigosListaAmigos ul li:nth-child(6n){
  background-color: #003366;
}

.cajaAmigo{ 
    color: #FFF;
    line-height: 170px;
    display: block;
    width: 100%;
    height: 100%;

font-size: 1.6em;
font-weight: 100;
}

.cajaAmigo:hover{ 
    color: #FFF;
    
    text-decoration: none;
}


/* =================================
                Perfil
==================================== */

#header-image{
    margin-top: 70px;
}

#sum-perfil{
bottom: 100px;
float: right;
color: #FFF;
padding-right: 15px;
position: relative;
}

#mainmid-perfil{
    margin-top: -60px;
}

#solicitudes{
    margin-top: 70px;
    text-align: center;
}

#solicitudes span {
    margin-left: 15px;
}


@media screen and (max-width: 992px){
    #daside{
        display: none;
    }

    .sideMenu > li {
width: 23%;
display: inline;
float: left;
margin: 0 .5%;

}

.sideMenu > li > ul {
max-height: 150px;
overflow: scroll;

}

}

#hola{}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  /* Space out the masthead */
 
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


