

body{ background-color: #f5f5f5;

}

.includehead{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
}
.header {
  background: #003366;

}

aside{
  background: #f5f5f5;
  margin-top: 50px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 48px;
  color:#FFF;
}

.nav > li > a{
 padding: 15px 22px 15px 15px;
  color:#FFF;
}


#navi{
border-bottom: 0px solid #ddd;
}

#navi.nav-tabs > li {
float: left;
margin-bottom: 0px;
}

#navi.nav-tabs > li > a {
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 0;
}

#navi.nav-tabs > li > a:hover {
border-color:transparent;
}

#navi .nav > li > a:hover, #navi .nav > li > a:focus {

background-color: transparent;
}


#navi .nav-tabs > li > a:hover {
border-color: transparent;
}
#navi .nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: transparent;
}
#navi .nav > li > a {
padding: 15px;
color: #FFF;
}

.nav-tabs > li > a:hover {
border-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: #0066CC;
}
.nav > li > a


#navi .nav-tabs > li.active > a, #navi .nav-tabs > li.active > a:hover, #navi .nav-tabs > li.active > a:focus{

background-color: transparent;
border:0;
color:white;
background:#001B36;
border-radius:0;
}

#navi .nav-tabs > li > a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 0;

}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.slide-hide, .slide-show {
    -webkit-transition:all ease .7s;
    -moz-transition:all ease .7s;
    -o-transition:all ease .7s;
    transition:all ease .7s;
}

.glyphicon{
  float: right;
}

form.min {
    width: 70%;
    margin: 0 auto;
}

#loginpage, #registropage, #recpasspage{
  margin-top:30px;
}

//* =================================
                main
==================================== */
#mainpage{
background-color: #f5f5f5;
}

#central{
    background-color: #FFF;
}

#daside{
 background-color: #FFF;
position: fixed;
right: 30px;
height: 100%;
width: 16.66666667%;
}


#welcome{
    font-weight: 300;
    padding-left: 2%;
    margin-top: 70px;
}

#welcome span{
    font-weight: 400;
    text-transform: capitalize;
}
.mainmid{

    margin-top:35px;
    background-color: #FFF;
}

#listapost{
    
}

.post{
    border-top: 1px solid #ddd;
    padding: 15px;
}
.posthead strong{
    font-size: 1.14em;
}
.posthead small{
    float:right;
}

.post p{
    padding: 15px;
}
/* =================================
                comment
==================================== */

#labcomment .nav-tabs > li > a{
    line-height: .5;
}
#comment{
    border-radius: 0 4px 4px 4px;;
    height: 120px;
    border: 1px solid #dddddd;
    border-top: none;
    padding-top: 10px;
    box-shadow: none;
    resize: none; 

}

#cf1{
    padding-bottom: 22px;
    
}
#cf1 .btn {
    margin: 8px 0 0 74%;
}


.widget{
    width: 99.7%;
}

/* =================================
                Menu
==================================== */
.sideMenu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    background-color:#f5f5f5;
    
}

.sideMenu a {
    color: #000000;
}

.sideMenu a:hover, .sideMenu a:focus {
    text-decoration: none;
}

.sideMenu ul a:hover {
    color: #000000;
}

/* First level */
.sideMenu > li {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-indent: 25px;
    position: relative;
    z-index: 2;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    -webkit-backface-visibility: hidden; /* Chrome transition flicker & double border fix */
    -webkit-transition: height .2s ease;
        -moz-transition: height .2s ease;
            transition: height .2s ease;
}

.sideMenu > li:first-child,
.sideMenu > li.first {
    border-top: none;
}

.sideMenu > li:last-child {
    border-bottom: none;
}

.sideMenu > li.last {
    border-bottom: none;
}

.sideMenu > li:hover {
    background-color: #f9f9f9;
}

.sideMenu > li.open {
    background-color: #f9f9f9;
    position: relative;
    -webkit-backface-visibility: hidden; /* Chrome transition flicker & double border fix */
    -webkit-transition: height .4s ease;
        -moz-transition: height .4s ease;
            transition: height .4s ease;
}

.sideMenu > li.active {
    background-color: #f0f0f0;
    border-top: 1px solid #dddddd;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
}

.sideMenu > li.active::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #dddddd;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 18px;
    right: 0;
}

.sideMenu > li.active::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #ffffff;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 17px;
    right: 0;
}

.sideMenu > li.active:first-child {
    border-top: none;
}

.sideMenu > li.parent {
    height: 100%;
    background-color: #f9f9f9;
}

.sideMenu > li > a {
    display: block;
    height: 50px;
}

/* Second level */
.sideMenu > li > ul {
    margin: 0;
    padding-bottom: 10px;
    z-index: 1;
    list-style: none;
    background-color: #eeeeee;
    border-top: 1px solid #ffffff;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
}

.sideMenu > li.active > ul {
    font-weight: normal;
}

.sideMenu > li > ul > li:first-child {
    padding-top: 5px;
    border-top: 1px solid #dddddd;
}

.sideMenu > li > ul > li > a {
    display: block;
    padding: 5px 0;
    font-size: 12px;
}

.sideMenu > li > ul > li > a:hover {
    color: #555555;
}

.sideMenu > li > ul > li.active > a {
    font-weight: bold;
    color: #444444;
}

.sideMenu > li > ul > li.active::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #dddddd;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 18px;
    right: 0;
}

.sideMenu > li > ul > li.active::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #ffffff;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 17px;
    right: 0;
}

.sideMenu > li.active:first-child {
    border-top: none;
}

/* Count */
.sideMenu > li > span {
    display: block;
    width: 18px;
    height: 18px;
    text-indent: 0;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    position: absolute;
    z-index: -1;
    top: 17px;
    right: 20px;
    color: #ffffff;
    background-color: #bbbbbb;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
            border-radius: 2px;
}

/* top menu */
.topMenu {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    position: relative;
    z-index: 999;
    background-color: #333333;
}

.topMenu ul {
    list-style: none;
    padding-top: 0;
}

.topMenu a {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #cccccc;
}

.topMenu a:hover {
    text-decoration: none;
    color: #ffffff;
}

.topMenu li.active {
    background-color: #000000;
}

.topMenu li.active a {
    color: #ffffff;
}

/* search */
aside .form-search {
    margin: 20px 0;
}

aside .form-search .input-prepend .search-query {
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
}

aside .form-search .input-prepend .btn {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    margin-left: 10%;
    background: url('../images/icon-search.png') no-repeat 10px 9px;
    border: none;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
}

aside .form-search input[type="text"] {
    width: 80%;
    margin-left: 10%;
    padding-left: 30px;
    background-color: #f5f5f5;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
            box-shadow: none;
}

aside .form-search input[type="text"]:focus {
    background-color: #ffffff;
}






/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  /* Space out the masthead */
 
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


